body {
  font-family: $font-main;
}
h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-size: 24px;
  margin: 0 0 40px;
}
a {
  text-decoration: none;
  @include transform();
  &:hover {
    color: $hov-color-1 !important;
    // text-decoration: underline;
  }
  &:visited {
    color: $color-main;
  } 
}
.ib {
  display: inline-block;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.attention {
  color: red;
}

header {
  border-top: 10px solid $color-main;
  // border-bottom: 3px solid $color-main;
  // background: rgba(255,255,255,0.5);
  padding: 50px 0;
  h1, a {
    color: $color-main;
  }
}
.header-title { 
  display: inline-block;
  width: 33%;
  h1 {
    font-size: 42px;
    line-height: 42px;
    font-family: $font-title;
    font-weight: normal;
  }
}
nav {
  display: inline-block;
  width: 66%;
  ul {
    position: relative;
    top: 5px;
    margin: 0;
    float: right;
    li {
      display: inline-block;
      margin-left: 40px;
      a {
        text-transform: uppercase;
        font-size: 22px;
        color: $color-main;
      }
    }
  }
}
.current-menu-item a {
  color: $hov-color-1;
}

section.hero {
  position: relative;
  .mission {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 24px;
    font-style: italic;
    // border-bottom: 3px solid #fff;
  }
}

.hero-img {
  position: relative;
  // top: 0;
  // z-index: -1;
}
.hero-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: rgba(255,255,255,0.2);
}

section.content {
  margin: 100px 0px;
  overflow: hidden;
  .home-img {
    width: 20%;
  }
  img {
    max-width: 250px;
  }
  .copy {
    width: 75%;
    float: right;
  }
}

footer {
  background: $color-main;
  padding: 40px 0;
  color: #fff;
}

///////////////////////////////////
// Bootstrap Grid
.container {
	width: 1550px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
// END Bootstrap Grid